/ global footer     

%footer{class: "footer container text--body large-screen-only"}
  %div{class: "footer__subnav text--subnav"}
    %ul 
      %li 
        %a{href:"#subnav"}
          Help 
      %li   
        %a{href:"#subnav"}
          Terms & Conditions 
      %li 
        %a{href:"#subnav"}
          Security & Privacy 
      %li  
        %a{href:"#subnav"}
          Advertise With Us 
      %li
        %a{href:"#subnav"}
          Partners & Affiliates 
  %div{class: "footer__logo-row"}   
    %div{class: "footer__logo"}
      LOGO
    %div{class: "footer__share-links footer__subnav text--subnav"}  
      %ul
        %li 
          %a{href:"#share-logo"}
            Sharelink
        %li 
          %a{href:"#share-logo"}
            Sharelink
        %li 
          %a{href:"#share-logo"}
            Sharelink     
