%form{class: "form--large"}

  // Use div to indicate new row. Class "clear-fix" if required.
  %div{class: "box--alert"}
    %a{href: "#close-alert"} 
      %i{class: "fa fa-times fa-lg"} 
    This is an example alert box. This is an example alert box. This is an example alert box example alert box alert box alert box alert box alert box.


  %div{class: "box--alert box--alert--info"}
    %a{href: "#close-alert"} 
      %i{class: "fa fa-times fa-lg"} 
    %i{class: "fa fa-info-circle fa-lg"}
    This is an example alert box, info variant.  

  %div{class: "box--alert box--alert--success"}
    %a{href: "#close-alert"} 
      %i{class: "fa fa-times fa-lg"} 
    %i{class: "fa fa-check-circle fa-lg"}
    This is an example alert box, success variant.

  %div{class: "box--alert box--alert--caution"}
    %a{href: "#close-alert"} 
      %i{class: "fa fa-times fa-lg"} 
    %i{class: "fa fa-exclamation-circle fa-lg"}
    This is an example alert box, caution variant. 

  %div{class: "box--alert box--alert--danger"}
    %a{href: "#close-alert"} 
      %i{class: "fa fa-times fa-lg"} 
    %i{class: "fa fa-exclamation-circle fa-lg"}
    This is an example alert box, danger variant. 

  %div{class: "clear-fix"}
    %h2{class: "text--accent text--headline-2 alpha"}
      %span{class: "box--circle-text"} 
        %span 1
      User Information

  %div{class: "clear-fix"} 
    %label{class: "columns-5"}
      First Name
      %br 
      %input{type: "text"}

    %label{class: "columns-6 shift-1"}
      Last Name
      %br 
      %input{type: "text"}
  
  // CONTEXTUAL TO USER, SEE SPECS
  %div{class: "clear-fix"}
    %label
      Choose a Password
      %br 
      %input{type: "text", id: "password-field"}

      // Password helper appears on any field to CREATE NEW PASSWORD (not login)
      %div{class: "large-screen-only"}
        %div{class: "form__error box--arrow-helper hidden", id: "password-helper"}  
          Password Must Contain
          %ul
            %li 8 to 15 charecters
            %li 1 uppercase letter
            %li 1 lowercase letter
            %li 1 letter or symbol


  %div{class: "clear-fix"}
    %label
      Email Address
      %br 
      %input{type: "text"}

  %div{class: "clear-fix"}    
    %label{class: "columns-12 omega"}
      Your role in hiring process 
      %span{class: "text--ghost"}
        (optional)
      %br 
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        
        // allows non-answer after click
        %option{value: ""} 
        %option{value: "recruiter"}Recruiter

  %div{class: "clear-fix"} 
    %h2{class: "text--accent text--headline-2"}
      %span{class: "box--circle-text"} 
        %span 2
      Company Information    

  %div{class: "clear-fix"}
    %label
      Company Name
      %br 
      %input{type: "text"}   

  %div{class: "clear-fix"}     
    %label
      Company Address
      %br 
      %input{type: "text"}  

  %div{class: "clear-fix"}     
    %label
      Country
      %br 
      %input{type: "text"} 

  %div{class: "clear-fix"}
    %label{class: "columns-6"}
      City
      %br 
      %input{type: "text"} 

    %label{class: "columns-3"}
      State
      %br 
      %select

    %label{class: "columns-3"}
      Zip code
      %br 
      %input{type: "text"} 

  %div{class: "box--divider-bottom columns-12", style: "margin-bottom: 32px;"}

  %div{class: "clear-fix"}    
    %label{class: "columns-12 alpha"}
      Industry
      %br 
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        %option{value: "recruiter"}Online Advertising

  %div{class: "clear-fix"} 
    %label{class: "columns-5"}
      Number of Employees
      %br 
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        %option{value: "recruiter"}100

    %label{class: "columns-6 shift-1"}
      Annual Revenue
      %br 
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        %option{value: "recruiter"}100

  %div{class: "columns-12 omega clear-fix"}
    %label{class: "columns-5"}
      \# of Locations
      %span{class: "text--ghost"}Optional
      %br 
      %input{type: "text"}

    %label{class: "columns-6 shift-1"}
      Company Phone 
      %br 
      %input{type: "text"}      

  %div{class: "clear-fix"}
    %h2{class: "text--accent text--headline-2 alpha"}
      %span{class: "box--circle-text"} 
        %span 3
      Payment Information

  %div{class: "clear-fix"}
    %label{class: "columns-4"} 
      Payment Type
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        %option{value: "recruiter"}100
    %div{class: "columns-7 shift-1"} 
      %img{src: "assets/images/icon--credit-cards.png", style: "position: relative; top: 25px;"}

  %div{class: "clear-fix"}
    %label{class: "columns-12"}
      Cardholder's Name 
      %br 
      %input{type: "text"}  
      %div{class: "form__error box--arrow clear-fix"}  
        This is an example 'alert' style error message.


  %div{class: "clear-fix"}
    %label{class: "columns-7"}
      Card Number 
      %br 
      %input{type: "text"}  
      %div{class: "form__error box--arrow box--arrow--caution clear-fix"}  
        This is an example 'caution' style error message.  

    %label{class: "columns-4 shift-1"}
      Expiration Date
      %select
        %option{value: "", selected: true, style: "display: none;"}
          Month
        %option{value: "january"}January      
      %select 
        %option{value: "", selected: true, style: "display: none;"}
          Year
        %option{value: "2015"}2015    

  %div{class: "clear-fix"}
    %label{class: "columns-3"}
      Security Code
      %br 
      %input{type: "password"}  

    %div{class: "columns-6"}
      %a{href: "#security-code", class: "text--input-helper", style: "position: relative; top: 30px;"}
        What's this?

  %div{class: "form--large__divider-line box--divider-bottom"}

  %div{class: "clear-fix"}       
    %label{class: "columns-12 form--large__trailing-label alpha"}
      %input{type: "checkbox"} 
      %span{class: "text--thin"} Use Company Address (From Above) 

  %div{class: "clear-fix"}
    %label{class: "columns-12"}
      Billing Address 1
      %br 
      %input{type: "text"}  

  %div{class: "clear-fix"}
    %label{class: "columns-12"}
      Billing Address 2
      %br 
      %input{type: "text"}  

  %div{class: "clear-fix"}     
    %label{class: "columns-12"}
      Country
      %br 
      %select
        %option{value: "", selected: true, style: "display: none;"}
          \--- Select One ---
        %option{value: "Bolivia"}Bolivia

  %div{class: "clear-fix"}
    %label{class: "columns-6"}
      City
      %br 
      %input{type: "text"} 

    %label{class: "columns-3"}
      State
      %br 
      %select

    %label{class: "columns-3 omega"}
      Zip code
      %br 
      %input{type: "text"} 

  %div{class: "columns-12 clear-fix"}
    %h3{class: "text--headline-3"}
      Accept Terms and Conditions

  %div{class: "clear-fix"}       
    %label{class: "columns-12 form--large__trailing-label alpha omega"}
      %input{type: "checkbox"} 
      %span{class: "text--thin"} 
        I agree to CareerBuilder's 
        %a{href: "#terms"} Terms and Conditions

  %div{class: "columns-12 clear-fix"} 
    %submit{class: "button button--primary" }
      Complete Purchase         