// initializes optional parameters
- add_class = "" unless add_class
- subhead = "" unless subhead

/ header-large 
%header{class: "header header--large" + " " + add_class}
  %div{class: "container"}

    = partial 'partials/header-subnav'

    / header__headline 
    %div{class: "header--large__headline"}

      %h1{class: "text--headline text--white"}
        %snippet{id: "product-headline__text"}
          = headline

      %h2{class: "text--subhead text--white"}
        %snippet{id: "product-subhead__text"}
          = subhead

    / product image 
    %div{class: "header--large__image large-screen-only"}
      %snippet{id: "product-header__image"}
        = image_tag image



