// initializes optional parameters
- add_class = "" unless add_class 
- show_progress_bar = false unless show_progress_bar

/ header 

%header{class: "header header--thin" + " " + add_class}
  %div{class: "container"}
    %div{class: "header__subnav medium-screen-up"}
    %h1{class: "header__headline text--headline text--white"}
      = headline


    - if show_progress_bar

      / header__progress-bar
      = partial 'partials/progress-bar'    
