/ header 
%header{class: "header header--thin"}
  %div{class: "container"}
    %div{class: "header__subnav medium-screen-up"}
    %h1{class: "header__headline text--headline text--white"}
      = headline

    / header__progress-bar
    = partial 'partials/progress-bar'    