%nav{class: "flyout header__subnav text--white text--subnav medium-screen-up"}
  %ul 
    %li 
      %a{href: "#products"}
        Products
      %ul 
        %li Menu item
        %li Menu item
        %li Menu item  

    %li
      %a{href: "#cart"}  
        Resources
      %ul 
        %li Menu item
        %li Menu item
        %li Menu item   

    %li
      %a{href: "#contact"} 
        About Us
      %ul 
        %li Menu item
        %li Menu item
        %li Menu item 