%div{class: "modal__box box--pop-out hidden", id: "modal--change-payment"}
  = partial 'partials/modal--close-button'

  %h2{class: "text--headline-2 text--accent alpha"}
    Change payment method

  %form{class: "modal__form"}
    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Billing Address 
      %input{class: "modal__form-right", type: "text"} 

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Country 
      %select{class: "modal__form-right"}
        %option{value: "", selected: true, style: "display: none;"} 

        %option placeholder 
        %option placeholder 2
        %option placeholder 3

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        State 
      %select{class: "modal__form-right"}
        %option{value: "", selected: true, style: "display: none;"} 

        %option placeholder 
        %option placeholder 2
        %option placeholder 3
 
    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        City 
      %input{class: "modal__form-right", type: "text"}

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Zip 
      %input{class: "modal__form-right", type: "text"}

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Select Payment Type 
      %select{class: "modal__form-right"}
        %option{value: "", selected: true, style: "display: none;"} 

        %option placeholder 
        %option placeholder 2
        %option placeholder 3

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Cardholder's Name 
      %input{class: "modal__form-right", type: "text"}

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Card Number 
      %input{class: "modal__form-right", type: "text"}

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Expiration Date 

      %select{class: "columns-2"}
        %option{value: "", selected: true, style: "display: none;"}
          Month
        %option{value: "01"}01      
      %select{class: "columns-2"}
        %option{value: "", selected: true, style: "display: none;"}
          Year
        %option{value: "2015"}2015  

    %label{class: "modal__form-row"}  
      %div{class: "modal__form-left"} 
        Security Code 
      %input{class: "columns-2", type: "password"}
      %div{class: "columns-5"}
        %a{href: "#security-code", class: "text--whats-this", style: "position: relative; top: 5px"}
          What's this?    

    %div{class: "modal__form-row omega"}  

    %div{class: "modal__form-row"} 
      %submit{class: "button button--primary modal__form-submit close-modal"}
        Save and Close