// four links across top 
%div{class: "pricing__menu--large pricing__menu"}
  
  %div{class: "pricing__menu-block pricing__1"}
    %h2 Choose the best plan for you.

  %div{class: "pricing__menu-block pricing__2"}
    %h2 
      Search 
      %br Lite
    %p 
      Nunc laoreet dignissim nisl, eu gravida eros.
    %a{class: "button button--secondary text--white", href: "#"}
      Buy plan 
  
  %div{class: "pricing__menu-block pricing__3"}
    %h2 
      Search 
      %br Standard
    %p 
      Ut venenatis rhoncus leo, ultricies rhoncus tellus. 
    %a{class: "button button--secondary text--white", href: "#demo-scroll-anchor"}
      Request demo 

  %div{class: "pricing__menu-block pricing__4"}
    %h2 
      Search 
      %br Professional
    %p 
      Pellentesque faucibus arcu eu sagittis.
    %a{class: "button button--secondary text--white", href: "#demo-scroll-anchor"}
      Request demo