// four links across top 
%div{class: "pricing__menu--small pricing__menu"}
  
  %div{class: "pricing__menu-block pricing__1"}
    %h2 Choose the best plan for you.

  %div{class: "pricing__menu-block pricing__2"}
    %h3 
      Resume Database
    %a{class: "button button--secondary text--white", href: "#"}
      Buy Plan 
  
  %div{class: "pricing__menu-block pricing__3"}
    %h3 
      Search Standard
    %a{class: "button button--secondary text--white", href: "#demo-scroll-anchor"}
      Request Demo 

  %div{class: "pricing__menu-block pricing__4"}
    %h3 
      Search Professional
    %a{class: "button button--secondary text--white", href: "#demo-scroll-anchor"}
      Request Demo