// four links across top 
%div{class: "product-subnav text--subnav"}
  
  %div{class: "product-subnav__left medium-screen-up"}
    %ul
      %li
        %a{href: "#overview"} Overview
      %li 
        %a{href: "#white-papers"} White Papers 
      %li 
        %a{href: "#features"} Features
      %li 
        %a{href: "#videos"} Videos

  // demo button on right side 
  %div{class: "product-subnav__right"}
    %a{class: "button button--primary", href: "#demo"}
      Request a Demo
