
// WORK IN PROGRESS
// Final form will be clickable, text and circle will be hot area

%div{class: "header__progress-bar box--progress-bar text--white large-screen-only"}
  %ul 
    // Displays line behind circles
    %div{class: "box--progress-bar__line"}  

    %li{class: "box--progress-bar--completed"}
      // STEP NUMBER 
      1
      // STEP LABEL
      %label Summary 
    %li{class: "box--progress-bar--current"}
      2  
      %label Sign In
    %li
      3
      %label Payment
    %li 
      4
      %label Confirmation    