// four links across top 
%div{class: "product-subnav text--subnav"}
  
  %div{class: "product-subnav__left medium-screen-up"}
    %snippet{id: "product-subnav__links"}
      %ul
        %li
          %a{href: "#overview-link-anchor"} Overview
        %li
          %a{href: "#white-papers-link-anchor"} White Papers
        %li
          %a{href: "#features-link-anchor"} Features

  // demo button on right side 
  %div{class: "product-subnav__right"}
    %snippet{id: "product-subnav__right__link"}
      %a{class: "button button--primary", href: "#demo-link-anchor"}
        Contact
