%header{class: "top-bar top-bar--white", id: "top-bar"}

  %div{class: "top-bar__logo"}
    %a{href: "/"}

      // low-fi image of logo for positioning, needs to be updated  
      %img{src: "assets/images/placeholder-logo.png"}

  %nav{class: "flyout top-bar__links text--top-bar-link medium-screen-up"}
    %ul 
      %li
        %a{href: "#account"}
          <i class="fa fa-user fa-lg"></i> 
          My Account
        %ul
          %li 
            %a{href: "#"} Menu item 1
          %li 
            %a{href: "#"} Menu item 2
          %li 
            %a{href: "#"} Menu item 3

      %li
        %a{href: "#cart"} 
          <i class="fa fa-shopping-cart fa-lg"></i> 
          $1337.00 Cart

      %li
        %a{href: "#contact"}
          Contact Us
     

  // mobile menu open link        
  %nav{class: "top-bar__links small-screen-only top-bar__mobile-menu-link", id: "mobile-menu-link" }  
    %i{class: "fa fa-bars fa-2x"}

// mobile menu
%nav{class: "top-bar__mobile-menu text--white text--subnav hidden", id: "mobile-menu"}
  %ul
    %li 
      %a{href: "#menu"}
        Products
    %li 
      %a{href: "#menu"}
        Resources
    %li 
      %a{href: "#menu"}
        About Us    
    %li 
      %a{href: "#menu"}
        %img{src: "assets/images/icon--account.png"}
        My Account
    %li  
      %a{href: "#menu"}
        %img{src: "assets/images/icon--cart.png"}
        $1337.00 Cart  
    %li
      %a{href: "#menu"} 
        Contact Us   

