%header{class: "top-bar"}

  %div{class: "top-bar__logo"}
    %a{href: "/"}

      // low-fi image of logo for positioning, needs to be updated  
      %img{src: "assets/images/placeholder-logo.png"}

  %div{class: "top-bar__helper-text text--white text--top-bar-helper medium-screen-up"}
    = partial 'partials/email-us-link' 
