%header{class: "top-bar"}

  %div{class: "top-bar__logo"}
    %a{href: "/"}

      // low-fi image of logo for positioning, needs to be updated  
      %img{src: "assets/images/placeholder-logo.png"}

  %nav{class: "top-bar__links text--white text--top-bar-link medium-screen-up"}
    %ul 
      %a{href: "#account"}
        %li 
          %img{src: "assets/images/icon--account.png"}
          My Account
      %a{href: "#cart"} 
        %li 
          %img{src: "assets/images/icon--cart.png"}
          $1337.00 Cart
      %a{href: "#contact"}
        %li 
          Contact Us

  %nav{class: "top-bar__links small-screen-only top-bar__mobile-menu-link", id: "mobile-menu-link" }  
    %img{src: "assets/images/icon--mobile-menu.png"}

%nav{class: "top-bar__mobile-menu text--white text--body hidden", id: "mobile-menu"}
  %ul
    %li 
      %a{href: "#mobile-menu"}
        Products
    %li 
      %a{href: "#mobile-menu"}
        Resources
    %li 
      %a{href: "#mobile-menu"}
        About Us    
    %li 
      %a{href: "#mobile-menu"}
        %img{src: "assets/images/icon--account.png"}
        My Account
    %li  
      %a{href: "#mobile-menu"}
        %img{src: "assets/images/icon--cart.png"}
        $1337.00 Cart  
    %li
      %a{href: "#mobile-menu"} 
        Contact Us   

