
// Layout

$top-bar--height: 60px


// Mobile breakpoints

// Breakpoints used by Zurb Foundation 
// Zurb has breakpoints for XL and XXL, not used here.
$small-screen-max: 40em
$medium-screen-min: 40.063em
$medium-screen-max: 64em
$large-screen-min: 64.063em


// Typography 

$Lato: Lato, Helvetica, Arial, sans-serif
