@mixin ie8-clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// COMMON

.flyout ul li {
  height: 30px;
}

.box--pop-out__bottom.box--pop-out {
  display: inline-block;
}
