.product-subnav
  +outer-container
  margin: 32px 0px 64px 0px
  
.product-subnav__left
  +span-columns(8)

.product-subnav__right
  +span-columns(4)
  text-align: right

.product-subnav ul 
  margin: 0
  padding: 0

.product-subnav li
  list-style: none
  padding: 10px 40px 30px 0px
  display: inline-block

.product-subnav li a
  display: inline-block  

.product-subnav li a
  border-bottom: 2px solid transparent

.product-subnav li a:hover  
  border-bottom: 2px solid $hover-link-color

.product-detail
  +outer-container
  display: block
  margin-bottom: 80px
  padding-bottom: 80px

.product-detail__headline
  +span-columns(3)

.product-detail__body
  +span-columns(9)

.product-detail__arrow 
  display: block
  position: relative
  float: right
  top: 5px
  left: 150px

.feature-block
  +span-columns(3) 
  text-align: center 

.feature-block 

.feature-block img 
  margin-bottom: 20px

.feature-block h4 
  margin-top: 0px
  margin-bottom: 5px
  line-height: 140%

.feature-block p
  margin-top: 0px
  margin-bottom: 32px
  padding: 0 20px

.product-detail .video-block   
  +span-columns(4)

.product-detail .video-block img 
  max-width: 240px

.product-detail .video-block h4
  margin-top: 10px
  margin-bottom: 0
  line-height: 140%

.request-demo
  +span-columns(8)
