// product-subnav

.product-subnav
  +outer-container
  margin: 32px 0px 64px 0px

.sticky-nav .product-subnav 
  margin-top: 0
  margin-bottom: 0
  padding-top: 10px
  padding-bottom: 10px
  
.product-subnav__left
  +span-columns(8)

.product-subnav__right
  +span-columns(4)
  padding-top: 5px
  text-align: right

@media only screen and (max-width: $small-screen-max)
  .product-subnav__right
    +span-columns(12)
    text-align: center
    padding-top: 20px

.product-subnav ul 
  margin: 0
  padding: 0

.product-subnav li
  list-style: none
  padding: 10px 40px 30px 0px
  display: inline-block
  padding-bottom: 10px

.product-subnav li a
  display: inline-block  

.product-subnav li a
  border-bottom: 2px solid transparent

.product-subnav li a:hover  
  border-bottom: 2px solid $hover-link-color

// product-detail 

.product-detail, .product-detail.box--divider-bottom
  +outer-container
  display: block
  margin-bottom: 80px
  padding-bottom: 80px

@media only screen and (max-width: $medium-screen-max)
  .product-detail
    margin-bottom: 64px
    padding-bottom: 64px

@media only screen and (max-width: $small-screen-max)
  .product-detail
    margin-bottom: 32px
    padding-bottom: 32px

.product-detail__headline
  +span-columns(3)

.product-detail__body
  +span-columns(9)

@media only screen and (max-width: $small-screen-max)
  .product-detail__headline
    +span-columns(12)

  .product-detail__body
    +span-columns(12)


.product-detail__arrow 
  display: block
  position: relative
  float: right
  top: 5px
  left: 150px

// feature-block

.feature-block
  +span-columns(3) 
  text-align: center 

.feature-block img 
  margin-bottom: 20px

.feature-block h4 
  margin-top: 0px
  margin-bottom: 5px
  line-height: 140%

.feature-block p
  margin-top: 0px
  margin-bottom: 32px
  padding: 0 20px

@media only screen and (max-width: $medium-screen-max)
  .feature-block
    +span-columns(9) 
    +shift(3)
    text-align: left
    margin-top: 32px

  .feature-block img
    float: left 
    margin: 0 32px 32px 0px

  .feature-block p
    margin-bottom: 10px

@media only screen and (max-width: $small-screen-max)
  .feature-block
    +span-columns(12) 
    +shift(0)

// video block 

.product-detail__video-block   
  +span-columns(4)

.product-detail__video-block img 
  max-width: 240px

.product-detail__video-block h4
  margin-top: 10px
  margin-bottom: 0
  line-height: 140%

@media only screen and (max-width: $medium-screen-max)
  .product-detail__video-block
    +span-columns(12)
    margin-bottom: 32px
    text-align: left

  .product-detail__video-block h4
    margin-top: 0px

.request-demo
  +span-columns(8)

@media only screen and (max-width: $medium-screen-max)
  .request-demo
    +span-columns(12)

.product__intro-text
  +span-columns(6)
  margin-top: 40px
  min-height: 250px

@media only screen and (max-width: $medium-screen-max)
  .product__intro-text
    +span-columns(12)  