.helper-text 
  +span-columns(12)
  margin-bottom: 20px

.items-in-cart
  +span-columns(12)

//

.cart 
  margin-bottom: 20px
  
.cart__row
  +span-columns(12)  
  margin-bottom: 10px

.cart__row.cart__row--tight 
  margin-bottom: 0px

.cart__row.container
  padding-left: 12px
  padding-right: 12px

.cart__cell 
  padding: 10px

.cart__cell.alpha
  padding-left: 0

.cart__cell.omega
  padding-right: 0
  text-align: right   

.cart__item-title
  line-height: 120%  

.cart__caption
  margin-top: 5px

.cart__cell--title
  +span-columns(5)

@media only screen and (min-width: $small-screen-max) and (max-width: $medium-screen-max)
  .cart__cell--title
    +span-columns(7)  

@media (max-width: $small-screen-max)
  .cart__cell--title
    +span-columns(6)  

.cart__cell--quantity
  +span-columns(1)

.cart__cell--quantity input
  width: 100%
  min-width: 30px

.cart__cell--remove
  +span-columns(2)

.cart__cell--price
  +span-columns(2)  

.cart__cell--total
  +span-columns(2)    

.cart__cell--recommended
  +span-columns(9)

.cart__cell--product-link
  +span-columns(3) 

.cart__apply-discount-link  

// 

.cart--simplified__cell--title
  +span-columns(8)

.cart--simplified__cell--total
  +span-columns(4)

.cart.cart--simplified__main-column
  +span-columns(8)

.cart--simplified__secondary-column
  +span-columns(4)
  margin-bottom: 20px

@media only screen and (max-width: $medium-screen-max)

  .cart.cart--simplified__main-column
    +span-columns(12)  

@media only screen and (min-width: $small-screen-max) and (max-width: $medium-screen-max)

  .cart--simplified__secondary-column
    +span-columns(6)
    +shift(3)

@media only screen and (max-width: $small-screen-max) 

  .cart--simplified__cell--headline
    +span-columns(12)

  .cart--simplified__secondary-column
    +span-columns(12)
    +shift(0)

.simplified-cart__card-container
  +outer-container
  padding-top: 0px

.simplified-cart__card
  margin-left: 8px
  display: inline-block
  height: 35px
  width: 59px
  background-image: url("/assets/images/icon--credit-cards.png")
  background-repeat: no-repeat
  background-position: 62px 0px
  border: 1px solid $grey-lighter
  +border-top-radius(4px)
  +border-bottom-radius(4px)

.simplified-cart__card.visa 
  background-position: 0px 0px

.simplified-cart__card.mastercard
  background-position: -64px 0px

.simplified-cart__card.amex
  background-position: -128px 0px

.simplified-cart__card.discover
  background-position: -192px 0px

.simplified-cart__card-caption
  display: inline-block 
  position: relative
  top: -15px
  margin-left: 5px 
  font-size: 14px

// 

.recommended-items 

.recommended-items--vertical .box--header-row
  margin-bottom: 0px

.cart__cell.recommended-items--vertical__header
  padding-left: 0
  padding-right: 0  

.recommended-items__block
  +span-columns(4)

.recommended-items__block--vertical
  +span-columns(12)
  padding: 24px 0

.recommended-items__block--vertical .cart--item-price
  font-weight: 800
  color: $black

.recommended-items__block--vertical a
  font-weight: 800  
  
.recommended-items__block--vertical p
  font-weight: 800  
  color: $grey-darker

.recommended-items--vertical__header 
  font-weight: 800

// 

.checkout 
  +span-columns(4)
  margin-bottom: 20px

@media (min-width: $small-screen-max) and (max-width: $medium-screen-max)
  .checkout 
    +span-columns(6)
    +shift(3)

@media (max-width: $small-screen-max)
  .checkout 
    +span-columns(12)        

.checkout__subtotal
  margin-bottom: 0
  margin-top: 0
  padding: 0

.checkout__total
  margin: 10px 0 28px 0

.checkout__item--left
  +span-columns(8)
  padding-left: 0

.checkout__item--right
  +span-columns(4)
  text-align: right
  padding-right: 0

.checkout__security-image

.checkout__security-image img 
  width: 120px  

.checkout__terms-label
  font-size: 80%
  line-height: 140%

.checkout-summary 
  font-weight: 800

.checkout-summary .cart__row.cart__row--tight.box--divider-bottom
  padding-bottom: 10px

.confirmation__message, .confirmation__button
  font-weight: 400   
// 

.checkout--simplified

.checkout--simplified .checkout--simplified__subtotal 
  margin-bottom: 0
  padding-bottom: 0px

.checkout--simplified .checkout--simplified__subtotal .cart__cell
  padding-bottom: 0px
  padding-top: 0px

.order-summary

.shopping-cart .cart__cell
  padding-top: 5px
  padding-bottom: 5px 

.shopping-cart .checkout .cart__cell
  padding: 0  

.shopping-cart .email-us-link
  margin-bottom: 32px

.shopping-cart .items-in-cart div.cart__row.box--divider-bottom:last-child
  margin-bottom: 0

.shopping-cart .recommended-items .cart--item-price
  margin-top: 5px

.shopping-cart .checkout .box--pop-out
  padding: 22px 28px 28px 28px    

.shopping-cart .checkout .box--pop-out div.cart__cell 
