
/* See _common.sass for CSS style help. */

// Quickstart for Sass syntax:

// Take everything in your CSS inside the {}, delete the {} and indent it.
// Delete the closing ; and instead user a newline.
// @include foo (alt syntax is +foo), $blue, etc are instructions to the Sass precompiler.
// Coments are full line. /* this passes through to CSS */ but // doesn't.
// Otherwise, it's just CSS.

// Quickstart for Block__Element--Modifier class naming:

// .block is the higher level of an abstraction or component.
// .block__element is a descendent of .block that helps form .block as a whole.
// .block--modifier is a different state or version of .block.
// This works best when applied to layout concerns.
// http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

// Quickstart for modular CSS:

// Use small-scope classes, rather than mega class + nesting, to keep definitions reusable.
// The namespaces "text--" and "box--" handle presentation of words and rectangles.
// Never blend presentation (".text--subhead"), layout (".popover"), and meaning (".box--alert-red")
// Even in BEM, that's a ".popover" with a ".text--subhead .box--alert-red" inside it.
// Avoid .popover__subhead or .subhead--alert-red unless it's a werid, non-resusable layout.
// https://vimeo.com/70115794

// END COMMENTS - START ACTUAL CODE

// UTILITY

.base-background
  background-color: $base-background-color

.container 
  +outer-container
  padding-left: 20px
  padding-right: 20px

.clearfix
  clear: both

// MOBILE DISPLAY RULES

// large screen rules
.small-screen-only
  display: none !important

.large-screen-only
  display: block !important

.medium-screen-up
  display: block !important

// medium and up 
@media only screen and (min-width: $medium-screen-min) and (max-width: $medium-screen-max)
  .small-screen-only
    display: none !important

  .medium-screen-up
    display: block !important

  .large-screen-only
    display: none !important

// small screen
@media only screen and (max-width: $small-screen-max)
  .small-screen-only
    display: block !important

  .medium-screen-up
    display: none !important

  .large-screen-only
    display: none !important

.hidden 
  display: none !important

// LAYOUT UTILITIES

.half-page-medium-up
  +span-columns(6)

@media only screen and (max-width: $small-screen-max)
  .half-page-medium-up
    +span-columns(12)

// TEXT
// display only, no positioning

.text--body
  font-family: $Lato
  font-weight: 400

.text--body a
  text-decoration: none
  color: $base-link-color

.text--body a:hover
  color: $hover-link-color

.text--white, .text--white a, .text--white a:hover
  color: $white

.text--accent, .text--accent a, .text--accent a:hover
  color: $accent-primary

.text--top-bar-link, .text--top-bar-link a
  font-family: $Lato
  font-weight: 300
  font-size: 9pt
  text-decoration: none

.text--top-bar-helper 
  font-family: $Lato
  font-weight: 300
  font-size: 11pt

.text--top-bar-helper a  
  color: $accent-primary 
  font-weight: 400
  text-decoration: none 

.text--top-bar-helper a:hover
  text-decoration: none
  color: $accent-primary  

.text--top-bar-helper a:active
  color: $accent-primary-dark 

.text--subnav, .text--subnav a
  font-family: $Lato
  font-weight: 300
  font-size: 11pt
  text-decoration: none

.text--headline, .text--headline a
  font-family: $Lato
  font-weight: 800
  font-size: 40px
  text-decoration: none

.text--headline-2, .text--headline a
  font-family: $Lato
  font-weight: 800
  font-size: 26px
  text-decoration: none

.text--caption
  font-family: $Lato
  font-weight: 300
  font-size: 10pt
  line-height: 140%

.text--caption a, a.text--caption
  font-family: $Lato
  font-weight: 400

.text--smaller
  font-size: 80%

.text--larger
  font-size: 120%

.text--success
  color: $accent-success  

.text--thin
  font-weight: 100  

// BOXES
// display only, no positioning

.box--pop-out.box--yellow
  background-color: $light-yellow

.box--header-row
  display: block
  background-color: $grey-lighter
  +border-top-radius(5px)

.box--pop-out
  display: block
  background-color: $panel-primary
  +border-top-radius(5px)
  +border-bottom-radius(5px)
  border: 1px solid $grey-lighter
  border-bottom: 3px solid $grey-lighter
  padding: 20px
  margin-bottom: 20px  

.box--divider-bottom
  border-bottom: 1px solid $grey-lighter

.box--divider-right
  border-right: 1px solid $grey-lighter
  // ^ This is not working as expected.

// Progress Bar 
.box--progress-bar li
  position: relative
  z-index: 1001
  display: inline-block
  width: 24px
  height: 24px
  +border-top-radius(12px)
  +border-bottom-radius(12px)
  background-color: $primary-darker
  font-size: 9pt
  text-align: center
  padding-top: 5px
  margin-right: 80px

.box--progress-bar li label
  position: relative
  display: block
  top: 20px
  left: -26px
  text-align: center
  width: 80px

.box--progress-bar--current
  background-color: $accent-active !important

.box--progress-bar--current label
  color: $accent-active

.box--progress-bar--completed
  background-color: $grey-darker !important

.box--progress-bar--completed label
  color: $grey-dark  

.box--progress-bar__line
  z-index: 1000
  position: relative
  background-color: $primary-darker
  height: 5px
  // adjust width for numbers of steps
  // ~ 20px + (100 * (steps - 1))
  width: 320px
  top: 15px
  margin-left: 12px
  margin-right: 70px


// Quick Submit
.box--quick-submit 
  +span-columns(8)
  +shift(2)

.box--quick-submit__input 
  height: 30px 
  font-size: 18px
  margin-top: 8px
  +span-columns(8)

.box--quick-submit__button
  margin-top: 5px 
  +span-columns(4)  

@media only screen and (max-width: $medium-screen-max)
  .box--quick-submit
    +span-columns(12)
    +shift(0) 

// BUTTONS (can be extracted to employer-style-base later, note: Sass vs SCSS)

button
  border: none

button:action
  border:none  

.button
  display: inline-block
  padding: 5px 20px 10px 20px
  +border-top-radius(5px)
  +border-bottom-radius(5px)
  text-align: center

.button.button--primary
  background-color: $primary-button-color
  color: $primary-button-text-color

.button.button--primary:hover
  background-color: $primary-hover-button-color
  color: $primary-hover-button-text-color

.button.button--primary:active
  background-color: $primary-active-button-color
  color: $primary-active-button-text-color

.button.button--secondary
  border: 2px solid $accent-primary
  background-color: $secondary-button-color
  color: $secondary-button-text-color

.button.button--secondary:hover
  border: 2px solid $primary-hover-button-color
  background-color: $primary-hover-button-color
  color: $primary-hover-button-text-color

.button.button--secondary:active
  background-color: $secondary-active-button-color
  color: $secondary-active-button-text-color

.button--large
  width: 100%
  padding: 12px
  font-size: 110%

// TOP BAR

.top-bar
  height: $top-bar--height
  background-color: $primary-darker
  border-bottom: 1px solid $grey-darkest

.top-bar__logo
  float: left

.top-bar__logo a
  display: block
  height: 60px

.top-bar__logo a:active
  display: block
  background-color: $base-active-button-color  

.top-bar__links
  float: right

.top-bar__links ul
  margin-top: 0px
  height: $top-bar--height
  display: flex

.top-bar__links a
  display: inline-block
  height: $top-bar--height

.top-bar__links a:hover
  background-color: $primary-light

.top-bar__links a:active
  background-color: $base-active-button-color  

.top-bar__links li
  list-style: none
  border-right: 0
  border-left: 1px solid $primary-light
  height: $top-bar--height
  padding: 22px 30px

.top-bar__links img, .top-bar__mobile-menu img
  padding-right: 5px
  height: 12px

.top-bar__mobile-menu-link
  padding: 15px

.top-bar__mobile-menu-link img
  height: 30px

.top-bar__mobile-menu
  +outer_container
  background-color: $primary

.top-bar__mobile-menu ul 
  padding: 0
  margin: 0
  // border-bottom: 3px solid $white

.top-bar__mobile-menu a
  margin-top: 0
  +span-columns(12)
  padding: 15px 20px
  border-bottom: 1px solid $primary-light
  background-color: $primary-darkest
  text-decoration: none
  
.top-bar__mobile-menu a:active
  background-color: $base-active-button-color

.top-bar__mobile-menu li
  display: block
  list-style: none

.top-bar__helper-text
  padding-top: 20px
  padding-right: 30px
  float: right  


// HEADER

.header 
  background-color: $header-background-color
  background-image: url('/assets/images/placeholder-background-facets.png')
  margin-bottom: 30px 

.header--large
  height: 220px

.header--medium
  height: 168px

@media (max-width: $small-screen-max)  
  .header--large, .header--medium
    height: 120px
    background-image: none


.header__subnav
  +span-columns(12)
  display: block
  margin-bottom: 60px

.header__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.header__subnav li
  display: inline-block
  list-style: none
  padding: 0
  margin: 20px 25px 10px 0px

.header__headline
  +span-columns(6)
  margin-top: 0px

@media (max-width: $small-screen-max)  
  .header__headline
    +span-columns(12)
    margin-top: 0px
    padding-top: 30px

.header__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.header__progress-bar ul
  margin-top: 0
  float: right

.header__progress-bar li

// FOOTER

.footer
  margin-top: 200px

.footer__subnav
  +span-columns(12)
  margin-bottom: 40px

.footer__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.footer__subnav li
  display: inline-block
  list-style: none
  padding: 0
  margin: 20px 25px 10px 0px

.footer__logo
  +span-columns(6)

.footer__share-links
  +span-columns(6)
  text-align: right

// FORMS

.form--large 
  +span-columns(10)

.form--large label
  +span-columns(12)
  margin-bottom: 24px

.form--large label.omega 
  margin-bottom: 32px 

.form--large input 
  width: 100%
  font-size: 24px

.form--large__trailing-label input
  width: 20px

.form--large submit, .form--large button, .form--large .button 
  font-size: 16px
  padding: 10px 40px
  margin-right: 20px

