
/* See _common.sass for CSS style help.

  Quickstart for Sass syntax:

    Take everything in your CSS inside the {}, delete the {} and indent it.
    Delete the closing ; and instead user a newline.
    @include foo (alt syntax is +foo), $blue, etc are instructions to the Sass precompiler.
    Coments are full line. this passes through to CSS but doesn't.
    Otherwise, it's just CSS.

  Quickstart for Block__Element--Modifier class naming:

    .block is the higher level of an abstraction or component.
    .block__element is a descendent of .block that helps form .block as a whole.
    .block--modifier is a different state or version of .block.
    This works best when applied to layout concerns.
    http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

  Quickstart for modular CSS:

    Use small-scope classes, rather than mega class + nesting, to keep definitions reusable.
    The namespaces "text--" and "box--" handle presentation of words and rectangles.
    Never blend presentation (".text--subhead"), layout (".popover"), and meaning (".box--alert-red")
    Even in BEM, that's a ".popover" with a ".text--subhead .box--alert-red" inside it.
    Avoid .popover__subhead or .subhead--alert-red unless it's a werid, non-resusable layout.
    https://vimeo.com/70115794

  Z-index conventions:

    Modals ~ 1 000 000
    dropdown menu in .flyout ~ 7000
    headers over .sticky-nav ~ 6000
    sticky nav bars .sticky-nav ~ 5000
    dropdown menus below sticky-nav ~ 4000
    Page layouts ~ 1000

*/

// UTILITY

h1.alpha, h2.alpha, h3.alpha, h4.alpha {
  margin-top: 0;
}

.employer-scope {
  background-color: $base-background-color;
}

.container {
  @include outer-container;
  padding-left: 20px;
  padding-right: 20px;
}

.debug {
  background-color: pink;
  min-height: 100px;
}

// accessibility: fallback content visibily hidden but able to to be read by screen readers
.sr-only {
    // code from Bootstrap 3
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Extra resets

address {
  font-style: inherit;
}

#{$all-text-inputs} {
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  box-shadow: none;
  border: 1px solid $grey-lighter;
  font-weight: 400;
}

select {
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  box-shadow: none;
  border: 1px solid $grey-lighter;
  height: 40px;
  font-weight: 400;
}

// MOBILE DISPLAY RULES

// large screen
.small-screen-only {
  display: none !important;
}

.large-screen-only {
  display: block !important;
}

.medium-screen-up {
  display: block !important;
}

.medium-screen-down {
  display: none !important;
}

// medium screen
@media only screen and (min-width: $medium-screen-min) and (max-width: $medium-screen-max) {
  .small-screen-only {
    display: none !important;
  }
  .medium-screen-up {
    display: block !important;
  }
  .large-screen-only {
    display: none !important;
  }
  .medium-screen-down {
    display: block !important;
  }
}

// small screen
@media only screen and (max-width: $small-screen-max) {
  .small-screen-only {
    display: block !important;
  }
  .medium-screen-up {
    display: none !important;
  }
  .large-screen-only {
    display: none !important;
  }
  .medium-screen-down {
    display: block !important;
  }
}

.hidden {
  display: none !important;
}

// LAYOUT UTILITIES
// positioning only, no display

.clear-fix {
  clear: both;
}

.half-page-medium-up {
  @include span-columns(6);
}

@media only screen and (max-width: $small-screen-max) {
  .half-page-medium-up {
    @include span-columns(12);
    margin-bottom: 64px;
  }
}

.half-page-large {
  @include span-columns(6);
}

@media only screen and (max-width: $medium-screen-max) {
  .half-page-large {
    @include span-columns(12);
    margin-bottom: 64px;
  }
}

// In most cases "columns-6" should work
// but if another class is overriding try
// asking more nicely: "columns-6 pretty please"
.columns-1, .columns-1.pretty.please {
  @include span-columns(1);
}

.columns-2, .columns-2.pretty.please {
  @include span-columns(2);
}

.columns-3, .columns-3.pretty.please {
  @include span-columns(3);
}

.columns-4, .columns-4.pretty.please {
  @include span-columns(4);
}

.columns-5, .columns-5.pretty.please {
  @include span-columns(5);
}

.columns-6, .columns-6.pretty.please {
  @include span-columns(6);
}

.columns-7, .columns-7.pretty.please {
  @include span-columns(7);
}

.columns-8, .columns-8.pretty.please {
  @include span-columns(8);
}

.columns-9, .columns-9.pretty.please {
  @include span-columns(9);
}

.columns-10, .columns-10.pretty.please {
  @include span-columns(10);
}

.columns-11, .columns-11.pretty.please {
  @include span-columns(11);
}

.columns-12, .columns-12.pretty.please {
  @include span-columns(12);
}

.shift-1 {
  @include shift(1);
}

.shift-2 {
  @include shift(2);
}

.shift-3 {
  @include shift(3);
}

.shift-4 {
  @include shift(4);
}

.shift-5 {
  @include shift(5);
}

.shift-6 {
  @include shift(6);
}

.shift-7 {
  @include shift(7);
}

.shift-8 {
  @include shift(8);
}

.shift-9 {
  @include shift(9);
}

.shift-10 {
  @include shift(10);
}

.shift-11 {
  @include shift(11);
}

// FOOTER

.footer {
  margin-top: 200px;
}

.footer__subnav {
  @include span-columns(12);
  margin-bottom: 40px;
}

.footer__subnav ul {
  display: block;
  padding: 0;
  margin: 0px;
  height: 40px;
}

.footer__subnav li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 20px 25px 10px 0px;
}

.footer__logo {
  @include span-columns(6);
}

.footer__share-links {
  @include span-columns(6);
  text-align: right;
}

.footer__share-links li {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 0;
}

// FORMS

.form--large {
  @include span-columns(11);
}

@media only screen and (max-width: $medium-screen-max) {
  .form--large {
    @include span-columns(12);
  }
}

.form--large label {
  display: block;
  margin-bottom: 24px;
}

.form--large label.omega, .form--large div.omega {
  margin-bottom: 64px;
}

.form--large input, .form--large select {
  @include fill-parent;
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
}

.form--large h2.middle {
  margin-top: 64px;
}

.form--large__trailing-label input {
  width: 20px;
}

.form--large__trailing-label span {
  position: relative;
  top: 1px;
  line-height: 140%;
}

.form--large submit, .form--large button, .form--large .button {
  font-size: 16px;
  padding: 10px 40px;
  margin-right: 20px;
}

.form--large__divider-line {
  // use on div with .box--divider-bottom
  @include span-columns(12);
  margin-bottom: 32px;
  margin-top: 10px;
}

.form--large h3 {
  margin-top: 0;
  margin-bottom: 14px;
}

.form__error {
  margin-top: 18px;
  padding: 15px;
  clear: both !important;
}

.form__field--success {
  border: 2px solid $accent-success;
}

.form__field--danger {
  border: 2px solid $accent-danger;
}

.form__subtext {
  margin-top: 5px;
  line-height: 130%;
}

.form__security-code-helper {
  padding-top: 5px;
}

.form__security-code-helper div {
  display: inline-block;
  width: 110px;
  padding: 5px;
  line-height: 120%;
}

.form__security-code-helper img, .form__security-code-helper div {
  vertical-align: middle;
}

.cart-login .form--large label:first-child {
  margin-bottom: 18px;
}

@media only screen and (max-width: $small-screen-max) {
  .cart-login .form--large submit {
    width: 100%;
    margin-bottom: 10px;
  }
}

// Sticky navigation

.sticky-nav {
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 5000;
  position: fixed;
  border-bottom: 1px solid $grey-lighter;
  background-color: $base-background-color;
}

.sticky-nav__above {
  z-index: 5100;
  display: block;
  position: relative;
}

.sticky-nav__top-container {
  margin-bottom: 88px;
  background-color: $base-background-color;
  position: relative;
  z-index: 5100;
}

// creates a solid color triangle, useful for flyout toggle links
.arrow--up {
  display: inline-block;
  margin: 0 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid $accent;
}

.arrow--down {
  display: inline-block;
  margin: 0 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid $accent;
}

.arrow--right {
  display: inline-block;
  margin: 0 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid $accent;
}

.arrow--left {
  display: inline-block;
  margin: 0 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid $accent;
}
