
/* See _common.sass for CSS style help. */

// Quickstart for Sass syntax:

// Take everything in your CSS inside the {}, delete the {} and indent it.
// Delete the closing ; and instead user a newline.
// @include foo (alt syntax is +foo), $blue, etc are instructions to the Sass precompiler.
// Coments are full line. /* this passes through to CSS */ but // doesn't.
// Otherwise, it's just CSS.

// Quickstart for Block__Element--Modifier class naming:

// .block is the higher level of an abstraction or component.
// .block__element is a descendent of .block that helps form .block as a whole.
// .block--modifier is a different state or version of .block.
// This works best when applied to layout concerns.
// http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

// Quickstart for modular CSS:

// Use small-scope classes, rather than mega class + nesting, to keep definitions reusable.
// Never blend presentation (".subhead"), layout (".popover"), and meaning (".alert-red")
// Even in BEM, that's a ".popover" with a ".subhead .alert-red" inside it.
// Don't use .popover__subhead or .subhead--alert-red unless these are locked to that element layout.
// https://vimeo.com/70115794


// END COMMENTS - START ACTUAL CODE



// TOP BAR

.top-bar
  height: $top-bar--height
  background-color: $primary-darker  
  border-bottom: 1px solid $grey-darkest

.top-bar__logo
  float: left

.top-bar__links
  float: right

.top-bar__links ul
  margin-top: 0px
  height: $top-bar--height
  display: flex

.top-bar__links a
  display: inline-block
  height: $top-bar--height

.top-bar__links a:hover
  background-color: $primary-light

.top-bar__links li
  list-style: none
  border-right: 0
  border-left: 1px solid $primary-light
  height: $top-bar--height
  padding: 22px 30px

// TEXT FORMATTING


.text--body
  font-family: $Lato
  font-weight: 400

.text--body a, a.text--body
  text-decoration: none
  color: $blue

.text--white, .text--white a
  color: $white

.text--top-bar-link, .text--top-bar-link a
  font-family: $Lato
  font-weight: 300
  font-size: 9pt
  text-decoration: none

.text--subnav, .text--subnav a
  font-family: $Lato
  font-weight: 300
  font-size: 11pt
  text-decoration: none

.text--headline, .text--headline a
  font-family: $Lato
  font-weight: 400
  font-size: 26pt
  text-decoration: none

.text--caption 
  font-family: $Lato
  font-weight: 300
  font-size: 10pt
  line-height: 140%

.text--caption a, a.text--caption
  font-family: $Lato
  font-weight: 400

// HEADER 

.container
  +outer-container 

.header 
  height: 220px
  background-color: $primary
  margin-bottom: 30px

.header__subnav
  +span-columns(12)
  display: block
  margin-bottom: 60px

.header__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.header__subnav li
  display: inline-block
  list-style: none
  padding: 0
  margin: 20px 25px 10px 0px

.header__headline
  +span-columns(8) 
  margin-top: 0px 


// SECTIONS

.box--header-row
  display: block
  background-color: $grey-lightest

