// BOXES
// display of box only, no positioning outside of box

.box--header-row {
  display: block;
  background-color: $grey-lighter;
  @include border-top-radius(5px);
}

.box--pop-out {
  @include outer-container;
  display: block;
  background-color: $panel-primary;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  border: 1px solid $grey-lighter;
  border-bottom: 3px solid $grey-lighter;
  padding: 32px;
  margin-bottom: 20px;
}

.box--pop-out.box--yellow {
  background-color: $light-yellow;
}

.box--pop-out.box--pop-out__top {
  // allows --pop-out to have sections
  margin-bottom: 0px;
  border-bottom: 1px solid $grey-lighter;
  @include border-bottom-radius(0);
  padding-bottom: 10px;
}

.box--pop-out.box--pop-out__bottom {
  padding-top: 10px;
  @include border-top-radius(0px);
  border-top: 0;
  margin-top: 0;
}

.box--divider-bottom {
  border-bottom: 1px solid $grey-lighter;
}

.box--divider-right {
  border-right: 1px solid $grey-lighter;
  // ^ This is not working as expected.
}

// Progress Bar
.box--progress-bar li {
  position: relative;
  z-index: 1001;
  display: inline-block;
  width: 24px;
  height: 24px;
  @include border-top-radius(12px);
  @include border-bottom-radius(12px);
  background-color: $primary;
  font-size: 9pt;
  text-align: center;
  padding-top: 5px;
  margin-right: 80px;
}

.box--progress-bar li label {
  position: relative;
  display: block;
  top: 20px;
  left: -26px;
  text-align: center;
  width: 80px;
}

.box--progress-bar--current {
  background-color: $accent-active !important;
}

.box--progress-bar--current label {
  color: $accent-active;
}

.box--progress-bar--completed {
  background-color: $grey-darker !important;
}

.box--progress-bar--completed label {
  color: $grey-dark;
}

.box--progress-bar__line {
  z-index: 1000;
  position: relative;
  background-color: $tertiary;
  height: 5px;
  // adjust width for numbers of steps
  // ~ 20px + (100 * (steps - 1))
  width: 320px;
  top: 15px;
  margin-left: 12px;
  margin-right: 70px;
}

.box--circle-text {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
  @include border-top-radius(12px);
  @include border-bottom-radius(12px);
  background-color: $accent;
  color: $base-background-color;
}

.box--circle-text span {
  position: relative;
  top: -0.15em;
}

// Quick Submit
.box--quick-submit {
  @include span-columns(6);
  @include outer-container;
  display: block;
  background-color: $panel-primary;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  border: 1px solid $grey-lighter;
  margin-bottom: 20px;
}

.box--quick-submit.box--quick-submit--narrow {
  @include span-columns(8);
}

.box--quick-submit__input {
  padding: 15px 15px 0px 15px;
  height: 100% !important;
  font-size: 18px;
  @include span-columns(8);
  border: none !important;
}

.box--quick-submit__input:focus {
  outline: 0;
}

.box--quick-submit__button-container {
  padding: 5px;
  text-align: right;
  @include span-columns(4);
}

.box--quick-submit__button {
  padding: 5px;
}

@media only screen and (max-width: $medium-screen-max) {
  .box--quick-submit {
    @include span-columns(12);
  }
  .box--quick-submit.box--quick-submit--narrow {
    @include span-columns(12);
  }
  .box--quick-submit__button-container {
    @include span-columns(6);
  }
  .box--quick-submit__input {
    @include span-columns(6);
  }
}

// Alert boxes

.box--alert {
  padding: 10px 20px 10px 20px;
  color: $primary;
  border: 2px solid $primary;
  background-color: $grey-lighter;
  margin-bottom: 32px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
}

.box--alert i {
  padding-right: 8px;
}

.box--alert a {
  color: $grey-light;
  float: right;
  text-align: right;
  height: 100%;
  width: 30px;
}

.box--alert a i {
  padding-right: 0px;
  color: inherit;
}

.box--alert--info {
  background-color: $accent;
  border: 2px solid $primary;
}

.box--alert--info, .box--alert--info a i {
  color: $primary;
}

.box--alert--success {
  background-color: $accent-success-light;
  border: 2px solid $accent-success-dark;
}

.box--alert--success, .box--alert--success a i {
  color: $accent-success-dark;
}

.box--alert--caution {
  background-color: $accent-warning-light;
  border: 2px solid $accent-warning-dark;
}

.box--alert--caution, .box--alert--caution a i {
  color: $accent-warning-dark;
}

.box--alert--danger {
  background-color: $accent-danger-light;
  border: 2px solid $accent-danger-dark;
}

.box--alert--danger, .box--alert--danger a i {
  color: $accent-danger-dark;
}

// creates an alert box with a 'speech bubble' type arrow on top
// default styling is 'danger' colors

.box--arrow {
  position: relative;
  background: $accent-danger-light;
  border: 2px solid $accent-danger;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  color: $accent-danger-dark;
  line-height: 140%;
}

.box--arrow:after, .box--arrow:before {
  bottom: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box--arrow:after {
  border-color: rgba(213, 124, 79, 0);
  border-bottom-color: $accent-danger-light;
  border-width: 10px;
  margin-left: -10px;
}

.box--arrow:before {
  border-color: rgba(245, 29, 29, 0);
  border-bottom-color: $accent-danger;
  border-width: 13px;
  margin-left: -13px;
}

.box--arrow--caution {
  background: $accent-warning-light;
  border: 2px solid $accent-warning;
  color: $accent-warning-dark;
}

.box--arrow--caution:after {
  border-color: rgba(213, 124, 79, 0);
  border-bottom-color: $accent-warning-light;
}

.box--arrow--caution:before {
  border-color: rgba(245, 29, 29, 0);
  border-bottom-color: $accent-warning;
}

//

// creates an alert box with a 'speech bubble' type arrow on top
// default styling is 'danger' colors

.box--arrow-helper {
  position: absolute;
  @include shift(4);
  margin-top: -90px;
  background: $primary;
  border: 2px solid $primary;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  color: $white;
  font-size: 12px;
  line-height: 150%;
}

.box--arrow-helper ul {
  padding-left: 20px;
}

.box--arrow-helper:after, .box--arrow-helper:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.box--arrow-helper:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: $primary;
  border-width: 10px;
  margin-top: -10px;
}

.box--arrow-helper:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: $primary;
  border-width: 13px;
  margin-top: -13px;
}
