// TOP BAR

.top-bar
  height: $top-bar--height
  background-color: $primary-darker
  border-bottom: 1px solid $grey-darkest

.top-bar__logo
  float: left

.top-bar__logo a
  display: block
  height: 60px

.top-bar__logo a:active
  display: block
  background-color: $base-active-button-color  

.top-bar__links
  float: right

.top-bar__links ul
  margin-top: 0px
  height: $top-bar--height
  display: flex

.top-bar__links a
  display: inline-block
  height: $top-bar--height

.top-bar__links a:hover
  background-color: $primary-light

.top-bar__links a:active
  background-color: $base-active-button-color  

.top-bar__links li
  list-style: none
  border-right: 0
  border-left: 1px solid $primary-light
  height: $top-bar--height
  padding: 22px 30px

.top-bar__links img, .top-bar__mobile-menu img
  padding-right: 5px
  height: 12px

.top-bar__mobile-menu-link
  padding: 15px

.top-bar__mobile-menu-link img
  height: 30px

.top-bar__mobile-menu
  +outer_container
  background-color: $primary

.top-bar__mobile-menu ul 
  padding: 0
  margin: 0

.top-bar__mobile-menu a
  margin-top: 0
  +span-columns(12)
  padding: 15px 20px
  border-bottom: 1px solid $primary-light
  background-color: $primary-darkest
  text-decoration: none
  
.top-bar__mobile-menu a:active
  background-color: $base-active-button-color

.top-bar__mobile-menu li
  display: block
  list-style: none

.top-bar__helper-text
  padding-top: 20px
  padding-right: 30px
  float: right  

// HEADER

.header 
  background-color: $header-background-color
  background-image: url('/assets/images/placeholder-background-facets.png')
  margin-bottom: 64px 

// Options can be passed as parameters to partial 
.header.no-bottom-margin
  margin-bottom: 0

.header.header--large-alternate .text--headline
  font-weight: 100
  font-size: 40px

.header--medium
  height: 220px

.header--thin
  height: 168px

@media only screen and (max-width: $small-screen-max)  
  .header--medium, .header--thin
    height: 120px
    background-image: none

.header--reading 

.header--reading__subnav
  +span_columns(8)
  +shift(2)
  
.header__headline.header--reading__headline
  +span_columns(8)
  +shift(2)

@media only screen and (max-width: $medium-screen-max) 
  .header--reading__subnav
    +span_columns(12)
    +shift(0)
    
  .header__headline.header--reading__headline
    +span_columns(12)
    +shift(0)

@media only screen and (max-width: $small-screen-max)
  .header__headline.header--reading__headline
    font-size: 28px
    padding-top: 38px

.header__subnav
  +span-columns(12)
  display: block
  margin-bottom: 60px

.header__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.header__subnav li
  display: inline-block
  list-style: none
  padding: 0
  margin: 20px 25px 10px 0px

.header__headline, .header__subhead
  +span-columns(6)
  margin-top: 0px

@media (max-width: $medium-screen-max)  
  .header__headline, .header__subhead
    +span-columns(12)

@media (max-width: $small-screen-max)  
  .header__headline
    margin-top: 0px
    padding-top: 30px

.header--large 

.header--large__image
  +span-columns(6)
  text-align: center
  vertical-align: bottom

.header--large__image img
  display: block  
  max-width: 520px

.header--large__headline
  +span-columns(6)
  padding-right: 64px
  padding-top: 64px
  padding-bottom: 64px

.header--large-alternate__headline
  +span-columns(8)
  padding-right: 0px
  padding-top: 0px
  padding-bottom: 54px

.header--large-alternate__image-container
  +outer-container

.header--large-alternate__image
  background-color: transparent
  position: absolute
  +shift(6)
  top: 180px
  text-align: right

.header--large-alternate__image img
  max-width: 470px
  max-height: 470px

@media (max-width: $medium-screen-max)
  .header--large__headline
    +span-columns(12)
    padding-right: 0
    padding-top: 32px
    padding-bottom: 32px

  .header--large-alternate__headline
    +span-columns(12)
    padding-right: 0px
    padding-top: 0px
    padding-bottom: 32px

.header__subnav ul
  display: block
  padding: 0
  margin: 0px
  height: 40px

.header__progress-bar ul
  margin-top: 0
  float: right

.header__progress-bar li