---
title: 404 Page Not Found
---

/ thin-header
= partial 'partials/header-medium-reading', :locals => {:headline => "404 Page Not Found"}

%div{class: "container text--body"}
  %div{class: "reading"}

    // main text
    %section{class: "reading__section"}

      %h4{class: "text--headline-4 reading__subhead"}
        Yes, that means somewhere someone hit a switch that we clearly marked with a "Never touch this switch!"

      %div{class: "box--pop-out"}
        %p
          We're promptly fixing the problem. In the meantime, let's start over:

        %a{class: "button button--primary"} Start here if you're a job seeker

        %br
        %br

        %a{class: "button button--primary"} Start here if you're an employer or recruiter