---
title: Cart Login
layout: simple
---

/ thin-header 
= partial 'partials/header-thin', :locals => {:headline => "Sign in"}   

/ main content

%div{class: "container text--body"} 
  %div{class: "small-screen-only"}
    = partial 'partials/email-us-link' 

  / registered users form
  %section{class: "half-page-medium-up"}  
    %h2{class:"text--headline-2 text--accent"}
      Registered Users
    %form{class: "form--large"}
      %label 
        Email Address
        %br 
        %input{type: "text"}

      %label 
        Password
        %br 
        %input{type: "password"}

      %label{class: "form--large__trailing-label omega"}
        %input{type: "checkbox"} 
        %span{class: "text--thin"} Remember Me   

      %submit{class: "button button--primary" }
        Sign In  
      %a{href: "#forgot-password"}Forgot Password?        

  / new users form
  %section{class: "half-page-medium-up"}  
    %h2{class:"text--headline-2 text--accent"}
      New Customer

    %form{class: "form--large"}

      %label{class: "omega"}
        Sign up now to enjoy all the benefits of Careerbuilder.com, including 
        %strong job posting
        optimizations,
        %strong search management
        tools, and 
        %strong candidate recommendations!

      %submit{class: "button button--primary" }
        Sign Up  
            


