---
title: Cart Login
layout: simple
---

/ thin-header 
= partial 'partials/header-thin', :locals => {:headline => "Sign in", :show_progress_bar => true}   

/ main content

%div{class: "container text--body"} 

  %div{class: "small-screen-only", style: "margin-bottom: 64px"}
    = partial 'partials/email-us-link' 

  / registered users form
  %section{class: "half-page-medium-up"}  
    %h2{class:"text--headline-2 alpha text--accent"}
      Registered Users
    %form{class: "form--large"}
      %label{class: "columns-11"}
        Email Address
        %br 
        %input{type: "text"}

      %label{class: "columns-11"}
        Password
        %br 
        %input{type: "password", id: "password-field"}
        %div{class: "large-screen-only"}
          %div{class: "form__error box--arrow-helper hidden", id: "password-helper"}
            Password Must Contain
            %ul
              %li 8 to 15 charecters
              %li 1 uppercase letter
              %li 1 lowercase letter
              %li 1 letter or symbol

      %label{class: "columns-12 form--large__trailing-label"}
        %input{type: "checkbox"} 
        %span{class: "text--thin"} Remember Me   

      %submit{class: "button button--primary" }
        Sign In  
      %a{href: "#forgot-password"}Forgot Password?        

  / new users form
  %section{class: "half-page-medium-up"}  
    %h2{class:"text--headline-2 alpha text--accent"}
      New Customer

    %form{class: "form--large"}
      %div 
        %label
          Sign up now to enjoy all the benefits of Careerbuilder.com, including 
          %strong job posting
          optimizations,
          %strong search management
          tools, and 
          %strong candidate recommendations!

      %div    
        %submit{class: "button button--primary" }
          Sign Up  
              


