---
title: Home Page
layout: layout
---

%section
  %h1 Home Page
  %p Foobar

%section
  %aside{class: "sidebar"} What is it about?
  %article{class: "main-area"} Words are symbols that convey the most basic component of an idea.
