---
title: Home Page
layout: alt-layout
---

%section
  %aside{class: "sidebar"} What is it about?
  %article{class: "main-area"} Neat is an open source semantic grid framework built on top of Sass and Bourbon…

%section
  %h1 Home Page
  %p Foobar