---
title: Home Page
layout: layout
---

/ header-large 
%header{class: "header header--home"}
  %div{class: "container"}

    = partial 'partials/header-subnav'

    / header__headline 
    %div{class: "header--large__headline"}

      %h1{class: "text--headline text--white"}
        headline text

      %h2{class: "text--subhead text--white"}
        Subhead text

    / product image 
    %div{class: "header--large__image large-screen-only"}  
      = image_tag 'carosel--laptop.png'

