---
title: Styleguide
---

%h1 Styleguide

.tutorial.hidden
  %h2 HAML Basics
  / The basics - http://haml.info/tutorial.html
  
  %p See this page's source code for a quickstart guide to writing HAML. 

  / HTML TAGS

  / HTML tags are prefaced with a %, don't use < > and the tags are not closed
  / Like this: 
  / %h1  
  / %meta  
  / %li 

  / NESTING 

  / Nesting inside elements uses tab-indent whitespace, or you can have content inside tag on the same line as tag.  
  / Common error: You can't tab-indent content and also have content on the same line as the initial tag.

  / ATTRIBUTES IN TAGS

  / Attributes inside a tag are added with a Ruby hash, like this: 
  / %link{ :href => '//fonts.googleapis.com/css?family=Lato:300,400,700', :rel => 'stylesheet', :type => 'text/css' }
  / Compiles to <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  / Multiline hash is fine, but remember the commas: it's Ruby hash syntax. 
  / Keys are either :symbols, or "strings" (use string if you have funky chars in key).
  / (There is an alternate syntax with parens that looks more like HTML.) 



