---
title: Order Confirmation
layout: layout
---

/ thin-header 
= partial 'partials/header-thin', :locals => {:headline => "Order Confirmation"}    

%div{class: "container text--body"} 
  
  // work in progress
  // probably should be new layout, not reuse
  %section{class: "large-screen-only columns-4 shift-8"}
    = partial 'partials/recommended-items'
