---
title: Checkout
layout: simple
---

/ thin-header 
= partial 'partials/header-medium', :locals => {:headline => "Checkout"}    
%div{class: "container text--body"} 
  
  / small-medium page order
  %section{class: "columns-12 medium-screen-down checkout-summary"} 
    = partial '/partials/checkout-summary' 

  %section{class: "half-page-large"}  
    = partial '/partials/form--payment'
  
  / large screen page order
  %section{class: "half-page-large large-screen-only checkout-summary"} 
    = partial '/partials/checkout-summary' 