---
title: Product Page
layout: layout
---

/ large-header 
= partial 'partials/header-large', :locals => {headline: "Product Title", subhead: "Placeholder Reach more candidates in less time with a product description", image: "placeholder--product-image.png"}  

%div{class: "container text--body"}
  %nav 
    = partial 'partials/product-subnav'
