---
title: Your Cart
layout: layout
---

/ thin-header 
= partial 'partials/header-medium', :locals => {:headline => "Your Cart"}   

%div{class: "container text--body"}

  / Rescue prompt 
  %div{class: "helper-text"} 
    = partial 'partials/email-us-link' 

    / cart  
    = partial 'partials/cart--your-items'

    / Promo code link     
    %div{class: "cart__row medium-screen-up"}
      %a{class: "cart__cell text--caption cart__apply-discount-link", href: "#apply-promo-code"}
        Have a promo code? Click here to apply it to your order.
        %div{class: "arrow--down promo-code-arrow"}

    %div{class: "cart__row small-screen-only"}
      %a{class: "cart__cell text--caption cart__apply-discount-link", href: "#apply-promo-code"}
        Apply promo code.
        %div{class: "arrow--down promo-code-arrow"}

    / Promo code modal  
    %div{id: "apply-discount", class: "box--quick-submit box--quick-submit apply-discount hidden" }

      / SUBMIT SHOULD VALIDATE DISCOUNT, SHOW CONFIRMATION, ETC  
      %input{type: "text", class: "box--quick-submit__input"}
      %div{class: "box--quick-submit__button-container"}
        %button{class: "button button--secondary box--quick-submit__button"}
          Apply

  / Recommended for you
  %section{class: "large-screen-only columns-8"}
    = partial 'partials/recommended-items'


  / Checkout
  %section{class: "checkout"}
    %div{class: "box--pop-out"}

      /subtotal
      %div{class: "cart__row checkout__subtotal text--smaller"} 
        %div{class: "cart__cell checkout__item--left"}
          Subtotal:
        %div{class: "cart__cell checkout__item--right"}
          $99.99
    
      /promo code (if applied)
      %div{class: "cart__row checkout__subtotal text--smaller"} 
        %div{class: "cart__cell checkout__item--left"}
          Promo code: 
          %br 
            TROGDOR
            &nbsp;
            %a{href: "#remove-promo-code", class: "text--delete-button"} remove
        %div{class: "cart__cell checkout__item--right text--success"}
          %br
          \-$9.99     
      
      /tax
      %div{class: "cart__row checkout__subtotal text--smaller"} 
        %div{class: "cart__cell checkout__item--left"}
          Tax:
        %div{class: "cart__cell checkout__item--right"}
          $8.99
      
      /total     
      %div{class: "cart__row checkout__total text--larger"} 
        %div{class: "cart__cell checkout__item--left"}
          Order Total:
        %div{class: "cart__cell checkout__item--right"}
          $109.98
      %a{class: "button button--primary button--large", href: "#checkout"}
        Checkout

    %div{class: "checkout__security-image"}
      %img{src: "assets/images/placeholder--security-image.png"}  
